body {
  color: white;
  font-family: "Rubik", sans-serif;
  font-family: "Space Mono", monospace;
}

.navbar {
  background-color: #007366;
}

.front_banner {
  background-image: url("../assets/bg_img.jpg");
  min-height: 80vh;
  background-size: cover;
  margin: -10px;
  text-align: center;
  padding: 75px 10px;
}

.main_heading {
  margin: 0;
  font-size: 3.5rem;
}

.plane_img {
  margin: 20px 10px;
  width: 200px;
  -webkit-animation: mover 1.25s infinite alternate;
  animation: mover 1.25s infinite alternate;
}

@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-30px);
  }
}
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-30px);
  }
}

.game_info {
  background: linear-gradient(to bottom, #de3e32, #ffe341);
  margin: -10px;
  text-align: center;
  padding: 20px;
}

.about_heading {
  margin: 0px 10px 20px;
}

.feature_card {
  background-color: rgba(255, 255, 255, 0.4);
  margin: 10px;
  border-radius: 15px;
  padding: 5px;
  text-align: left;
  cursor: pointer;
  text-align: center;
  transition: transform 0.5s;
}

.feature_card:hover {
  transform: scale(1.05);
}

.feature_img {
  width: 50px;
  margin: 10px;
  -webkit-animation: mover_small 1.25s infinite alternate;
  animation: mover_small 1.25s infinite alternate;
}

@-webkit-keyframes mover_small {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-15px);
  }
}
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-15px);
  }
}

.feature_text {
  -webkit-text-stroke: 1px black;
}

.call_to_action {
  margin: 10px;
  -webkit-text-stroke: 0.8px black;
}

.start {
  background-color: rgba(255, 255, 255, 0.4);
  height: 50px;
  outline: none;
  border: none;
  transition: transform 0.5s;
  border-radius: 10px;
  width: 150px;
}

.start:hover {
  transform: scale(1.05);
}

.footer {
  background: linear-gradient(to bottom, #ffe341, #de9432);
  text-align: center;
}

.credit {
  color: white;
}
